<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="a.entity.Dept">

	<resultMap type="Dept" id="dept">
		<id property="id" column="id"/>
		
		<result property="name" column="name"/>
		<result property="address" column="address"/>
		
	</resultMap>

</mapper>