<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="d.entity.Dept">

	<!-- 开启二级缓存
		eviction: 进出方式
		size: 二级缓存中存储的数量

		FIFO 表示 first in first out
	 -->
	<cache eviction="FIFO" size="2"></cache>

	<resultMap type="Dept" id="deptResultMap">
		<id property="did" column="did" javaType="java.lang.Integer"/>
		
		<result property="dname" column="dname"/>
		<result property="address" column="address"/>
	</resultMap>
	
	
	<!-- 批量添加数据 -->
	<insert id="insertDept">
		insert into dept(did, dname, address) values 
		<foreach collection="list" item="dept" separator=",">
			(#{dept.did},#{dept.dname},#{dept.address})
		</foreach>
	</insert>	
	
	<!-- 批量修改数据 -->
	<update id="updateDept">
		<foreach collection="list" item="d" separator=";">
			update dept set dname = #{d.dname},address = #{d.address} where did = #{d.did}
		</foreach>
		
	</update>
	
	
	
	<!-- 批量删除数据 -->
	<delete id="deleteDept">
		delete from dept where did in (
		<foreach collection="array" item="deptId" separator=",">#{deptId}</foreach>
		)
	</delete>






















</mapper>